.Finder{
    position: fixed;
    display: inline-block;
    width: 100%;
    /*box-shadow:inset 0px 0px 5px 1px #000;*/
    margin: 0px;
    background-color:rgba(246,246,246,0.95);
    height: 20px;
    max-height: 20px;
    z-index: 4;
}
div#blogMenu{
    display: none;
    position: absolute;
    min-width: 130px;
    left: 0px;
}
div#controlMenu{
    display: none;
    position: absolute;
    min-width: 130px;
    left: 0px;
}
div#optionsMenu{
    display: none;
    position: absolute;
    min-width: 130px;
    left: 0px;
}
div#aboutMenu{
    display: none;
    position: absolute;
    min-width: 300px;
    left: 0px;
}











body{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    background-repeat: repeat-y;
    font-size: 13px;
    font-family: 黑体;
}


.FinderText{
    font-weight: 500;
    line-height:18px;
    opacity: 1;
    position: relative;
    float: left;
    max-height: 20px;
}
img#Apple{
    position:relative;
    left:0px;
    top:1px;
    width: auto;
    height: auto;
    max-width: 75%;
    max-height: 75%;
    float: left;
    padding: 0px 15px 0px 15px;
}
div#Menu{
    width:20%;
    position: absolute;
    left:5%;
    top:85px;
    bottom: 80px;
    background-color:rgba(255,255,255,1);
    border-radius: 0px 0px 0px 5px;
    border-right:1px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    padding: 5px;
    z-index: 2;
}
div#Content{
    width: 70%;
    position: absolute;
    top:85px;
    left:25%;
    background-color:rgba(255,255,255,1);
    border-radius: 0px 0px 5px 0px;
    bottom: 80px;
    padding: 5px;
    box-shadow: 0px 5px 5px 0px #000000;
    z-index: 1;
}
div#Bottom{
    position: fixed;
    bottom: 0px;
    left: 15%;
    right: 15%;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(225,225,225,0.95);
    border-radius: 5px 5px 0px 0px;
    height:50px;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.list{

}

div#ContentHead{
    top: 25px;
    width: 90%;
    position: absolute;
    left: 5%;
    border-radius: 5px 5px 0px 0px;
    background-color: rgba(225,225,225,0.9);
    min-height: 50px;
    text-align: center;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0) inset;
    z-index: 2;
}
.BottomImg{
    position:relative;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    margin: 0px 10px 0px 10px;
}

div#BlankSpace{

}
.FinderText{
    top: -2px;
    padding:2px;
}
div#mainpage{

    border-bottom:1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    z-index: 3;
}
.menuText{
    padding: 0px 0px 3px 20px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
}



  .MenuDiv{
      box-shadow: 5px 0px 10px  rgba(0,0,0,0.2);
      background-color:rgba(246,246,246,0.95);
      padding: 0px 0px 3px 0px ;
      border-radius:0px 0px 5px 5px;
      font-weight: normal;
      z-index: 3;
      font-size: 13px;
      border-right: 1px solid rgba(0,0,0,0.3);
      border-bottom:1px solid rgba(0,0,0,0.3) ;
      border-left:1px solid rgba(0,0,0,0.3) ;
      color: black;
      top:22px
  }
  div#showtime{
      float: right;
      position:relative;
      top:2px;
      font-size: 13px;
  }

img#icons{
    position:relative;
    left:0px;
    top:0px;
    width: auto;
    height: auto;
    max-width: 97%;
    max-height: 97%;
    float: right;

}