.post-box{
  padding: 10px;
  border-bottom: 1px solid rgba(225,225,225,1);

}
.post-title{
  font-size: 15px;
}

.post-date{
  text-align: right;
  font-size: 12px;
}

div#asidePart{
  height: 90vh;
}

