div#head {
  background-color: rgba(225, 225, 225, 1);
}
.ArticleHead
{
  padding: 5% 5% 5% 3%;
  background-color: #73b1e0;
  width: 90%;
}

.ArticleText
{
  font-size: 50px;
  font-weight: 900;
  color: white;
}

.ArticleTime
{
  padding: 20px 0 0 0 ;
  color: white;
  font-weight: bolder;
  font-size: large;
}

.menuText:hover .post-url{
  color: white;
}
.menuText:hover{
  background-color: rgba(3,76,218,1);
}
div#mainpage{border-bottom:1px solid rgba(0,0,0,0.1);}
div#backToTop{border-bottom:1px solid rgba(0,0,0,0.1);}
div#aboutMain{border-bottom:1px solid rgba(0,0,0,0.1);}
div#twitter{border-bottom:1px solid rgba(0,0,0,0.1);}

div#article{
  font-size: medium;
}

#post-author {
  font-size: 9px;
  position: absolute;
  top: 60px;
  right: 30px;
  color: #999;
}

#post-date {
  font-size: 9px;
  position: absolute;
  top: 80px;
  right: 30px;
  color: #999;
}

/* 文章各个元素间隔 */
#article {
  padding: 30px 0px 0px 0px;
}
#article * {
  margin: 30px 0;
}


#article h1,
#article h2,
#article h3,
#article h4,
#article h5,
#article h6 {
  line-height: 40px;
  margin: 20px 0 15px;
}


#article h1 {
  font-size: 32px;
  font-weight: 900;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(3,76,218,1);
}

#article h2 {
  font-size: 25px;
  border-left: 3px solid #73b1e0;
  padding-left: 10px;
}

#article h3 {
  font-size: 22px
}

#article a {
  color: rgba(3,76,218,0.8);
  text-decoration: none;
}

#article a:hover {
  border-bottom: 1px solid;

}

#article h1 a:hover{
  border-bottom: none;
}

#article code {
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 0px #999;
  background-color: rgba(255, 133, 133, 0.2);
  color: #ff767b;
  font-weight: bolder;
}

.line{
  font-weight: bold;
}
#article img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #999;
}

#article pre {
  font-size: 14px;
  margin: 20px 0 15px;
}

#article p {
  margin: 0 0 10px;
  line-height: 30px
}

/* 表格处理 */
#article table {
  width: 75%;
  border: 0;
  margin: 0px 0 0px 0;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 35px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #999;
}

#article table th {
  background: #73b1e0;
  font-weight: 800;
  font-size: 18px;
  text-align: left;
  line-height: 35px;
  color: white;
}

#article table td{
  text-align: left;
  line-height: 30px;
}
#article table tr:nth-child(odd) {
  background: #F4F4F4;
}

/* 鼠标移动到表格上*/
#article table tr:hover,
#article table td:hover {

}

#article table td, table th {
  padding: 5px 5px 5px 5px;
}

#article table tr:first-child th:first-child {
  border-top-left-radius: 3px;
}

#article table tr:first-child th:last-child {
  border-top-right-radius: 3px;
}

#article table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

#article table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}


