.tagsH2{
  text-align: center;
}


.asideMenuText{
  text-align: center;
  padding: 5px 0px 5px 0px;
}

.archive-list-item
{
  border: 1px solid rgba(225,225,225,1);
  width: 90%;
  list-style-type:none;
  padding: 10px 5px 10px 5px;
  border-radius: 3px;
  margin: 10px 0px 10px 0px;
  background-color: rgba(250,250,250,1);
  font-weight: bold;
  text-align: center;
}
.archive-list
{
  margin: 0;
  width: 100%;
  list-style-type:none;
  padding: 5px 0px 5px 0px;
}

.tag-list{
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type:none;
}
.tag-list-item{
  border: 1px solid rgba(225,225,225,1);
  width: 90%;
  list-style-type:none;
  padding: 10px 5px 10px 5px;
  border-radius: 3px;
  margin: 10px 0px 10px 0px;
  background-color: rgba(250,250,250,1);
  font-weight: bold;
  text-align: center;
}
.articleText{
  font-weight: bolder;
  float: top;
  color: white;
  padding: 0px 10px 10px 10px;
  min-width: 200px;
  font-size: large;
}
.timeText{
  color: rgba(245,245,245,1);
  float: bottom;
  padding: 0px 0px 0px 10px;
}
.archive-item{
  padding: 10px 5px 10px 5px;
  margin: 5px;
  float: left;
  background-color: #58B2DC;
  border-radius: 2px;
  text-shadow: 2px 2px 10px rgba(125,125,125,0.3);
}
.tag-item{
  padding: 10px 5px 10px 5px;
  margin: 5px;
  float: left;
  background-color: #B28FCE;
  border-radius: 2px;
  text-shadow: 2px 2px 10px rgba(125,125,125,0.3);
}
.tags-date{
  color: rgba(245,245,245,1);
  float: bottom;
  padding: 0px 0px 0px 10px;
}

